@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.header__nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
}

.header__nav-item {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
}

.header__nav-item a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.header__nav-item a:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    transition: all 0.3s ease;
}

.header__cta-btn {
    text-decoration: none;
    width: 250px;
    height: 50px;
    font-family: 'Raleway', sans-serif;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    background: #FFBA34;
    transition: all 0.3s ease;
}

.header__cta-btn:hover {
    background: #e69800;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main {
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main__text {
    width: 100%;
    max-width: 565px;
}

.main__img {
    max-width: 100%;
}

.main__button-item {
    text-decoration: none;
    width: 350px;
    height: 80px;
    margin-top: 40px;
    font-family: 'Raleway', sans-serif;
    border-radius: 40px;
    font-size: 24px;
    font-weight: 500;
    border: none;
    background: #FFBA34;
    transition: all 0.3s ease;
}

.main__button-item:hover {
    background: #e69800;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main__text-title {
    padding-top: 20px;
    font-weight: 700;
    font-size: 48px;
    font-family: 'Raleway', sans-serif;
}

.about-wrapper {
    background: url(./img/titlebg.png);
    background-position: left top;
    background-repeat: no-repeat;
    margin-top: 50px;
}

.about-inner-wrapper {
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about__img {
    max-width: 100%;
}

.about {
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
}

.about__text {
    width: 100%;
    max-width: 485px;
    padding-top: 80px;
}

.about__title {
    font-weight: 500;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
}

.work-wrapper {
    background: url(./img/titlebg.png);
    background-position: left top;
    background-repeat: no-repeat;
    margin-top: 50px;
}

.work-inner-wrapper {
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
}

.work {
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
}

.work__title {
    font-weight: 500;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
}

.slider {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.slider__item {
    max-width: 100%;
}

.work__text {
    width: 100%;
    max-width: 968px;
    margin: 0 auto;
}

.button__wrapper {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.work__button {
    text-decoration: none;
    display: block;
    width: 250px;
    height: 50px;
    font-family: 'Raleway', sans-serif;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    background: #FFBA34;
    transition: all 0.3s ease;
    text-decoration: none;
}

.work__button:hover {
    background: #e69800;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contacts-wrapper {
    background: url(./img/titlebg.png);
    background-position: left top;
    background-repeat: no-repeat;
    margin-top: 50px;
}

.contacts {
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
}

.contacts-title {
    font-weight: 500;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
}

.contacts-inner-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contacts-left p {
    width: 100%;
    max-width: 400px;
}

.contact-item {
    width: 100%;
    max-width: 430px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}

.contacts__img {
    max-width: 100%;
}

.phone__num {
    font-weight: 500;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
}

.wa-btn {
    text-decoration: none;
    width: 250px;
    height: 50px;
    font-family: 'Raleway', sans-serif;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    background: #FFBA34;
    transition: all 0.3s ease;
    text-decoration: none;
}

.wa-btn:hover {
    background: #e69800;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer {
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.copyright {
    display: flex;
    align-items: center;
}

.year {
    display: flex;
}

@media screen and (max-width:728px) {
    .header__nav ul {
        padding-inline-start: 0px;
    }
    .main__text {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .main__img {
        box-sizing: border-box;
        padding: 10px;
    }
    .about__title {
        padding-left: 10px;
    }
    .about__text {
        padding-top: 0;
        box-sizing: border-box;
        margin: 0 auto;
    }
    .work__title {
        padding-left: 10px;
    }
    .slider {
        justify-content: center;
    }
    .work__text {
        box-sizing: border-box;
        padding: 10px;
    }
    .contacts-title {
        padding-left: 10px;
    }
    .contacts-inner-wrapper {
        justify-content: center;
    }
    .contacts-left {
        margin-bottom: 20px;
    }
}

@media screen and (max-width:428px) {
    .page {
        box-sizing: border-box;
        background: url(./img/mainbg.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .header {
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
    }
    .header__cta-btn {
        display: none;
    }
    .main {
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
    }
    .main__img {
        display: none;
    }
    .header__nav {
        display: none;
    }
    .main__button-item {
        display: block;
        margin: 0 auto;
        position: fixed;
        bottom: 5%;
        left: 7%;
    }
    .main__text-title {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 36px;
    }
    .main__text-subtitle {
        margin-top: 40px;
        margin-bottom: 44px;
    }
    .contacts__img {
        margin-top: 20px;
    }
    .about__text {
        padding-top: unset;
    }
    .about__title {
        padding-left: 10px;
        padding-right: 10px;
    }
    .about__text {
        padding-left: 10px;
        padding-right: 10px;
    }
    .about__img {
        padding-left: 5px;
        padding-right: 5px;
        box-sizing: border-box;
    }
    .work__title {
        padding-left: 10px;
        padding-right: 10px;
    }
    .work__text {
        padding-left: 10px;
        padding-right: 10px;
        max-width: 90%;
    }
    .contacts-title {
        padding-left: 10px;
        padding-right: 10px;
    }
    .contacts-left {
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer {
        box-sizing: border-box;
        padding: 10px;
    }
}

@media screen and (max-width:375px) {
    .main__button-item {
        left: 50%;
        transform: translate(-50%, 0);
        width: 275px;
        height: 70px;
    }
    .main {
        padding-top: 0px;
    }
    .main__text-title {
        padding-top: 0px;
    }
}